@font-face {
  font-family: "collegia";
  src: url("../fonts/collegia.ttf"); }
@font-face {
  font-family: "firacode";
  src: url("../fonts/firacode.ttf"); }
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  font: 40px "collegia", collegia;
  background-color: #000022;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2000' height='2000' viewBox='0 0 800 800'%3E%3Cg fill='none' %3E%3Cg stroke='%23026' stroke-width='17'%3E%3Cline x1='-8' y1='-8' x2='808' y2='808'/%3E%3Cline x1='-8' y1='792' x2='808' y2='1608'/%3E%3Cline x1='-8' y1='-808' x2='808' y2='8'/%3E%3C/g%3E%3Cg stroke='%23002163' stroke-width='16'%3E%3Cline x1='-8' y1='767' x2='808' y2='1583'/%3E%3Cline x1='-8' y1='17' x2='808' y2='833'/%3E%3Cline x1='-8' y1='-33' x2='808' y2='783'/%3E%3Cline x1='-8' y1='-783' x2='808' y2='33'/%3E%3C/g%3E%3Cg stroke='%23002060' stroke-width='15'%3E%3Cline x1='-8' y1='742' x2='808' y2='1558'/%3E%3Cline x1='-8' y1='42' x2='808' y2='858'/%3E%3Cline x1='-8' y1='-58' x2='808' y2='758'/%3E%3Cline x1='-8' y1='-758' x2='808' y2='58'/%3E%3C/g%3E%3Cg stroke='%23001f5c' stroke-width='14'%3E%3Cline x1='-8' y1='67' x2='808' y2='883'/%3E%3Cline x1='-8' y1='717' x2='808' y2='1533'/%3E%3Cline x1='-8' y1='-733' x2='808' y2='83'/%3E%3Cline x1='-8' y1='-83' x2='808' y2='733'/%3E%3C/g%3E%3Cg stroke='%23001e59' stroke-width='13'%3E%3Cline x1='-8' y1='92' x2='808' y2='908'/%3E%3Cline x1='-8' y1='692' x2='808' y2='1508'/%3E%3Cline x1='-8' y1='-108' x2='808' y2='708'/%3E%3Cline x1='-8' y1='-708' x2='808' y2='108'/%3E%3C/g%3E%3Cg stroke='%23001d56' stroke-width='12'%3E%3Cline x1='-8' y1='667' x2='808' y2='1483'/%3E%3Cline x1='-8' y1='117' x2='808' y2='933'/%3E%3Cline x1='-8' y1='-133' x2='808' y2='683'/%3E%3Cline x1='-8' y1='-683' x2='808' y2='133'/%3E%3C/g%3E%3Cg stroke='%23001c53' stroke-width='11'%3E%3Cline x1='-8' y1='642' x2='808' y2='1458'/%3E%3Cline x1='-8' y1='142' x2='808' y2='958'/%3E%3Cline x1='-8' y1='-158' x2='808' y2='658'/%3E%3Cline x1='-8' y1='-658' x2='808' y2='158'/%3E%3C/g%3E%3Cg stroke='%23001b4f' stroke-width='10'%3E%3Cline x1='-8' y1='167' x2='808' y2='983'/%3E%3Cline x1='-8' y1='617' x2='808' y2='1433'/%3E%3Cline x1='-8' y1='-633' x2='808' y2='183'/%3E%3Cline x1='-8' y1='-183' x2='808' y2='633'/%3E%3C/g%3E%3Cg stroke='%23001a4c' stroke-width='9'%3E%3Cline x1='-8' y1='592' x2='808' y2='1408'/%3E%3Cline x1='-8' y1='192' x2='808' y2='1008'/%3E%3Cline x1='-8' y1='-608' x2='808' y2='208'/%3E%3Cline x1='-8' y1='-208' x2='808' y2='608'/%3E%3C/g%3E%3Cg stroke='%23001949' stroke-width='8'%3E%3Cline x1='-8' y1='567' x2='808' y2='1383'/%3E%3Cline x1='-8' y1='217' x2='808' y2='1033'/%3E%3Cline x1='-8' y1='-233' x2='808' y2='583'/%3E%3Cline x1='-8' y1='-583' x2='808' y2='233'/%3E%3C/g%3E%3Cg stroke='%23001846' stroke-width='7'%3E%3Cline x1='-8' y1='242' x2='808' y2='1058'/%3E%3Cline x1='-8' y1='542' x2='808' y2='1358'/%3E%3Cline x1='-8' y1='-558' x2='808' y2='258'/%3E%3Cline x1='-8' y1='-258' x2='808' y2='558'/%3E%3C/g%3E%3Cg stroke='%23001743' stroke-width='6'%3E%3Cline x1='-8' y1='267' x2='808' y2='1083'/%3E%3Cline x1='-8' y1='517' x2='808' y2='1333'/%3E%3Cline x1='-8' y1='-533' x2='808' y2='283'/%3E%3Cline x1='-8' y1='-283' x2='808' y2='533'/%3E%3C/g%3E%3Cg stroke='%2300163f' stroke-width='5'%3E%3Cline x1='-8' y1='292' x2='808' y2='1108'/%3E%3Cline x1='-8' y1='492' x2='808' y2='1308'/%3E%3Cline x1='-8' y1='-308' x2='808' y2='508'/%3E%3Cline x1='-8' y1='-508' x2='808' y2='308'/%3E%3C/g%3E%3Cg stroke='%2300153c' stroke-width='4'%3E%3Cline x1='-8' y1='467' x2='808' y2='1283'/%3E%3Cline x1='-8' y1='317' x2='808' y2='1133'/%3E%3Cline x1='-8' y1='-333' x2='808' y2='483'/%3E%3Cline x1='-8' y1='-483' x2='808' y2='333'/%3E%3C/g%3E%3Cg stroke='%23001439' stroke-width='3'%3E%3Cline x1='-8' y1='342' x2='808' y2='1158'/%3E%3Cline x1='-8' y1='442' x2='808' y2='1258'/%3E%3Cline x1='-8' y1='-458' x2='808' y2='358'/%3E%3Cline x1='-8' y1='-358' x2='808' y2='458'/%3E%3C/g%3E%3Cg stroke='%23001336' stroke-width='2'%3E%3Cline x1='-8' y1='367' x2='808' y2='1183'/%3E%3Cline x1='-8' y1='417' x2='808' y2='1233'/%3E%3Cline x1='-8' y1='-433' x2='808' y2='383'/%3E%3Cline x1='-8' y1='-383' x2='808' y2='433'/%3E%3C/g%3E%3Cg stroke='%23013' stroke-width='1'%3E%3Cline x1='-8' y1='392' x2='808' y2='1208'/%3E%3Cline x1='-8' y1='-408' x2='808' y2='408'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  overflow: hidden; }

::-webkit-scrollbar {
  width: 20px; }

::-webkit-scrollbar-track {
  background: #0f0c29;
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29); }

::-webkit-scrollbar-thumb {
  background: #c31432;
  background: -webkit-linear-gradient(to right, #240b36, #c31432);
  background: linear-gradient(to right, #240b36, #c31432); }

::-webkit-scrollbar-thumb:hover {
  background: #dd1133;
  background: -webkit-linear-gradient(to right, #391255, #dd1133);
  background: linear-gradient(to right, #391255, #dd1133); }

::selection {
  background: #000;
  color: #149414; }

#loading {
  width: 100%;
  height: 100%;
  background: #000000;
  background: -webkit-linear-gradient(to right, #434343, #000000);
  background: linear-gradient(to right, #434343, #000000);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s; }
  #loading .loader {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center; }
    #loading .loader div {
      width: 100px;
      height: 100px;
      border-radius: 100%;
      border: 5px solid transparent;
      border-right-color: #fff;
      border-left-color: #fff;
      animation: loading 2s infinite linear; }
@keyframes loading {
  100% {
    transform: rotate(360deg); } }
  #loading.loaded {
    transform: translateX(-100%);
    opacity: 0; }

.container {
  width: 100%;
  margin: 0 auto; }

.main-menu-container {
  width: 100%;
  background: #6c2cda;
  background: -webkit-linear-gradient(to right, #6c2cda, #1d2671);
  background: linear-gradient(to right, #6c2cda, #1d2671);
  z-index: 1384;
  position: fixed;
  transform: translateY(-100%);
  transition: transform .3s ease-in-out;
  box-shadow: 0 12px 16px 1px rgba(0, 0, 0, 0.14), 0 4px 22px 3px rgba(0, 0, 0, 0.12), 0 6px 7px -4px rgba(0, 0, 0, 0.4); }
  .main-menu-container.show {
    transform: translateY(0); }

.main-menu {
  width: 80%;
  font-size: 3rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 10px;
  padding-right: 20px; }
  .main-menu .menu-icon {
    width: 45px;
    height: 45px;
    padding: 7px;
    border-radius: 7px;
    background: #323232;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    transition: all .4s;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent; }
    .main-menu .menu-icon span {
      width: 100%;
      height: 4px;
      background: #878787;
      border-radius: 3px;
      transition: all .4s; }
  .main-menu a {
    text-decoration: none;
    font-family: "collegia", collegia;
    margin: 5px 25px;
    color: #ffc312;
    position: relative;
    transition: transform 0.3s;
    -webkit-tap-highlight-color: transparent; }
    .main-menu a::after {
      content: "";
      width: 100%;
      height: 2px;
      bottom: -5%;
      left: 0;
      background: #ffc312;
      position: absolute;
      opacity: 0;
      transition: all .3s;
      transform: scaleX(0.5); }
    .main-menu a:hover::after {
      bottom: 10%;
      opacity: 1;
      transform: scaleX(1); }
  .main-menu .logo {
    width: 4.8rem;
    margin-right: auto;
    margin-left: 10px;
    display: flex;
    align-items: center; }
    .main-menu .logo img {
      width: 100%; }

#navbar.open .menu-icon {
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px;
  transition: margin 0s; }
  #navbar.open .menu-icon span {
    position: absolute; }
  #navbar.open .menu-icon span:nth-child(2) {
    transform: translateX(100%) rotate(90deg);
    opacity: 0; }
  #navbar.open .menu-icon span:nth-child(1), #navbar.open .menu-icon span:nth-child(3) {
    left: 0;
    right: 0;
    width: 80%;
    margin: 0 auto; }
  #navbar.open .menu-icon span:nth-child(1) {
    transform: rotate(45deg); }
  #navbar.open .menu-icon span:nth-child(3) {
    transform: rotate(-45deg); }
#navbar.open .main-menu {
  height: auto;
  position: relative;
  flex-direction: column; }
  #navbar.open .main-menu a {
    display: block; }
  #navbar.open .main-menu .logo {
    margin: 10px auto; }

#about {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  #about div#aboutCard {
    width: 60%;
    margin: 0 auto;
    background: #11998e;
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e);
    background: linear-gradient(to right, #38ef7d, #11998e);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    padding: 30px;
    border-radius: 8px;
    transition: all .4s ease-in-out;
    transform: scale(0.4) translateY(400px);
    font-size: 16px; }
    #about div#aboutCard.show {
      transform: scale(1) translateY(0); }
    #about div#aboutCard h2 {
      text-align: center;
      font-family: "firacode", Fira Code;
      font-size: 3.5em;
      background: #8E2DE2;
      background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);
      background: linear-gradient(to right, #4A00E0, #8E2DE2);
      background-clip: text;
      -moz-background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      letter-spacing: -4px; }
      #about div#aboutCard h2::before {
        content: "<";
        color: #272727;
        padding: 10px;
        -webkit-text-fill-color: #272727; }
      #about div#aboutCard h2::after {
        content: "/>";
        color: #272727;
        padding: 10px;
        -webkit-text-fill-color: #272727; }
      #about div#aboutCard h2::selection {
        background: #000;
        color: #149414;
        -webkit-text-fill-color: #149414; }
    #about div#aboutCard p {
      font-size: 2em; }
    #about div#aboutCard .logo {
      width: 35%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      padding: 10px;
      overflow: hidden;
      background: #F4B400;
      box-shadow: inset 0 0 20px #000; }
      #about div#aboutCard .logo img {
        width: 100%; }

h1.section-title {
  text-align: center;
  padding: 70px 0 20px 0;
  color: #ffc312;
  font-size: 7rem; }
  h1.section-title::before {
    content: "{ "; }
  h1.section-title::after {
    content: " }"; }
  h1.section-title::before, h1.section-title::after {
    color: red; }

#skills {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  #skills .skills-container {
    padding: 10px;
    font-size: 3rem; }
    #skills .skills-container .skills {
      color: white;
      display: flex;
      flex-wrap: wrap;
      width: 75%;
      justify-content: space-around;
      margin: 0 auto;
      background: #0f0c29;
      background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
      background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
      border-radius: 50px; }
      #skills .skills-container .skills .skill {
        display: flex;
        align-items: center;
        flex-direction: column;
        list-style: none;
        margin: 25px;
        border-radius: 20px;
        padding: .5rem; }
        #skills .skills-container .skills .skill i {
          background: #8E2DE2;
          background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);
          background: linear-gradient(to right, #4A00E0, #8E2DE2);
          padding: 20px;
          border-radius: 100px;
          margin: 20px;
          font-size: 1.5em; }

#contact {
  font-size: 50px; }
  #contact .contact-container {
    width: 75%;
    background: #780206;
    background: -webkit-linear-gradient(to right, #061161, #780206);
    background: linear-gradient(to right, #061161, #780206);
    border-radius: 50px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column; }
    #contact .contact-container .info p {
      background: #0f0c29;
      background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
      background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
      border-radius: 100px;
      padding: 10px 20px;
      color: #ffd200;
      margin: 10px; }
      #contact .contact-container .info p b {
        background: #2980B9;
        background: -webkit-linear-gradient(to bottom, #FFFFFF, #6DD5FA, #2980B9);
        background: linear-gradient(to bottom, #FFFFFF, #6DD5FA, #2980B9);
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent; }
        #contact .contact-container .info p b::after {
          content: attr(data-name) ": "; }
    #contact .contact-container .icons {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around; }

#contact .icons a {
  width: 100px;
  height: 100px;
  background: #0f0c29;
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  cursor: pointer;
  box-shadow: inset 0 0 0 #000;
  transition: all .3s; }
  #contact .icons a:hover {
    box-shadow: inset 0 0 10px #000; }
  #contact .icons a img {
    width: 70%;
    height: 70%; }

.main-footer {
  color: #fff;
  padding: 20px;
  margin-top: 60px;
  background: #0575E6;
  background: -webkit-linear-gradient(to right, #021B79, #0575E6);
  background: linear-gradient(to right, #021B79, #0575E6);
  text-align: center; }

@media only screen and (max-width: 1340px) {
  #aboutCard {
    font-size: 14px !important; } }
@media only screen and (max-width: 1100px) {
  #aboutCard {
    width: 70% !important;
    min-height: 60vh;
    justify-content: space-around;
    font-size: 12px !important; }

  #skills .skill {
    margin: 10px !important; } }
@media only screen and (max-width: 890px) {
  #aboutCard {
    width: 80% !important; }

  #contact {
    font-size: 40px !important; }
    #contact .contact-container {
      width: 90% !important; }

  #skills .skills-container {
    font-size: 2.5rem; }
    #skills .skills-container .skills {
      width: 90% !important; }
      #skills .skills-container .skills .skill {
        padding: 0;
        margin: 0; }

  h1.section-title {
    font-size: 6rem !important; }

  .main-menu {
    width: 90%;
    flex-direction: row-reverse;
    height: 60px;
    align-items: center;
    justify-content: flex-end; }
    .main-menu .menu-icon {
      display: flex; }
    .main-menu a {
      display: none; }
    .main-menu .logo {
      width: 3.4rem;
      margin-right: auto;
      margin-left: 0; }

  .main-footer {
    font-size: 2rem; } }
@media only screen and (max-width: 640px) {
  .main-menu {
    font-size: 2.6rem; }

  #aboutCard {
    font-size: 10px !important; }

  h1.section-title {
    font-size: 5rem !important; }

  #skills .skills-container {
    font-size: 2rem; }

  #contact {
    font-size: 30px !important; }
    #contact .icons a {
      width: 70px !important;
      height: 70px !important; } }
@media only screen and (max-width: 540px) {
  #aboutCard {
    width: 90% !important;
    min-height: 30vh; }

  #skills .skills-container {
    font-size: 1.8rem; }

  .main-footer {
    font-size: 1.5rem; } }
@media only screen and (max-width: 470px) {
  #aboutCard {
    width: 95% !important; }
    #aboutCard h2 {
      font-size: 3em !important;
      letter-spacing: -3px !important; }

  #contact {
    font-size: 25px !important; }
    #contact .icons a {
      width: 60px !important;
      height: 60px !important; }

  h1.section-title {
    font-size: 4rem !important; } }
@media only screen and (max-width: 400px) {
  #aboutCard {
    font-size: 8px !important; }
    #aboutCard h2 {
      letter-spacing: -2px !important; }

  #contact {
    font-size: 20px !important; }
    #contact .icons a {
      width: 50px !important;
      height: 50px !important; }

  .main-footer {
    font-size: 1.3rem !important; }

  h1.section-title {
    font-size: 3rem !important; } }

/*# sourceMappingURL=style.css.map */
