@font-face {
  font-family: "collegia";
  src: url("../fonts/collegia.ttf"); }
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  font: 40px "collegia", collegia;
  background: #0c0032;
  overflow: hidden; }

::-webkit-scrollbar {
  width: 20px; }

::-webkit-scrollbar-track {
  background: #0f0c29;
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29); }

::-webkit-scrollbar-thumb {
  background: #c31432;
  background: -webkit-linear-gradient(to right, #240b36, #c31432);
  background: linear-gradient(to right, #240b36, #c31432); }

::-webkit-scrollbar-thumb:hover {
  background: #dd1133;
  background: -webkit-linear-gradient(to right, #391255, #dd1133);
  background: linear-gradient(to right, #391255, #dd1133); }

::selection {
  background: #000;
  color: #149414; }

#loading {
  width: 100%;
  height: 100%;
  background: #000000;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s; }
  #loading .loader {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center; }
    #loading .loader div {
      width: 100px;
      height: 100px;
      border-radius: 100%;
      border: 5px solid transparent;
      border-right-color: #fff;
      border-left-color: #fff;
      animation: loading 2s infinite linear; }
@keyframes loading {
  100% {
    transform: rotate(360deg); } }
  #loading.loaded {
    transform: translateX(-100%);
    opacity: 0; }

.container {
  width: 100%;
  margin: 0 auto; }

.main-menu-container {
  width: 100%;
  background: #6200ea;
  z-index: 1384;
  position: fixed;
  transform: translateY(-100%);
  transition: transform .3s ease-in-out; }
  .main-menu-container.show {
    transform: translateY(0); }

.main-menu {
  width: 80%;
  font-size: 3rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 10px;
  padding-right: 20px; }
  .main-menu a {
    text-decoration: none;
    font-family: "collegia", collegia;
    margin: 5px 25px;
    color: #ffc312;
    position: relative;
    transition: transform 0.3s; }
    .main-menu a::after {
      content: "";
      width: 100%;
      height: 2px;
      bottom: -5%;
      left: 0;
      background: #ffc312;
      position: absolute;
      opacity: 0;
      transition: all .3s;
      transform: scaleX(0.5); }
    .main-menu a:hover::after {
      bottom: 10%;
      opacity: 1;
      transform: scaleX(1); }
  .main-menu .logo {
    width: 4.8rem;
    margin-right: auto;
    margin-left: 10px;
    display: flex;
    align-items: center; }
    .main-menu .logo img {
      width: 100%; }

#about {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  #about div#aboutCard {
    width: 60%;
    margin: 0 auto;
    background: #11998e;
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e);
    background: linear-gradient(to right, #38ef7d, #11998e);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    padding: 30px;
    border-radius: 8px;
    transition: all .4s ease-in-out;
    transform: scale(0.4) translateY(400px); }
    #about div#aboutCard.show {
      transform: scale(1) translateY(0); }
    #about div#aboutCard h2 {
      text-align: center;
      font-family: Fira Code;
      font-size: 3.5rem;
      background: #8E2DE2;
      background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);
      background: linear-gradient(to right, #4A00E0, #8E2DE2);
      background-clip: text;
      -moz-background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      letter-spacing: -4px; }
      #about div#aboutCard h2::before {
        content: "<";
        color: #272727;
        padding: 10px;
        -webkit-text-fill-color: #272727; }
      #about div#aboutCard h2::after {
        content: "/>";
        color: #272727;
        padding: 10px;
        -webkit-text-fill-color: #272727; }
    #about div#aboutCard .logo {
      width: 40%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      padding: 10px;
      overflow: hidden;
      background: #F4B400;
      box-shadow: inset 0 0 20px #000; }
      #about div#aboutCard .logo img {
        width: 100%; }

h1.section-title {
  text-align: center;
  padding: 70px 0 20px 0;
  color: #ffc312;
  font-size: 7rem; }
  h1.section-title::before {
    content: "{ "; }
  h1.section-title::after {
    content: " }"; }
  h1.section-title::before, h1.section-title::after {
    color: red; }

#skills {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  #skills .skills-container {
    padding: 10px;
    font-size: 3rem; }
    #skills .skills-container .skills {
      color: white;
      display: flex;
      flex-wrap: wrap;
      width: 75%;
      justify-content: space-around;
      margin: 0 auto;
      background: #0f0c29;
      background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
      background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
      border-radius: 50px; }
      #skills .skills-container .skills .skill {
        display: flex;
        align-items: center;
        flex-direction: column;
        list-style: none;
        margin: 25px;
        border-radius: 20px;
        padding: .5rem; }
        #skills .skills-container .skills .skill i {
          background: #8E2DE2;
          background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);
          background: linear-gradient(to right, #4A00E0, #8E2DE2);
          padding: 20px;
          border-radius: 100px;
          margin: 20px;
          font-size: 1.5em; }

#contact {
  font-size: 50px; }
  #contact .contact-container {
    width: 75%;
    background: #780206;
    background: -webkit-linear-gradient(to right, #061161, #780206);
    background: linear-gradient(to right, #061161, #780206);
    border-radius: 50px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column; }
    #contact .contact-container .info p {
      background: #0f0c29;
      background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
      background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
      border-radius: 100px;
      padding: 10px 20px;
      color: #ffd200;
      margin: 10px; }
      #contact .contact-container .info p b {
        background: #2980B9;
        background: -webkit-linear-gradient(to bottom, #FFFFFF, #6DD5FA, #2980B9);
        background: linear-gradient(to bottom, #FFFFFF, #6DD5FA, #2980B9);
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent; }
        #contact .contact-container .info p b::after {
          content: attr(data-name) ": "; }
    #contact .contact-container .icons {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around; }

#contact .icons a {
  width: 100px;
  height: 100px;
  background: #0f0c29;
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  cursor: pointer;
  box-shadow: inset 0 0 0 #000;
  transition: all .3s; }
  #contact .icons a:hover {
    box-shadow: inset 0 0 10px #000; }
  #contact .icons a img {
    width: 70%;
    height: 70%; }

.main-footer {
  color: #fff;
  padding: 20px;
  margin-top: 60px;
  background: #0575E6;
  background: -webkit-linear-gradient(to right, #021B79, #0575E6);
  background: linear-gradient(to right, #021B79, #0575E6);
  text-align: center; }

/*# sourceMappingURL=style.css.map */
