$font: "collegia", collegia;
$main-bg: #0c0032;
$yellow: #ffc312;

$menu-bg: #6200ea;
$menu-item-color: #ffc312;

$section-about-bg: #0F9D58;
$section-about-logo-bg: #F4B400;
$section-about-name-color: hsl(273, 80%, 42%);
$section-about-name-design-color: #272727;