@import "variables";

@font-face {
    font-family: "collegia";
    src: url("../fonts/collegia.ttf");
}
@font-face {
    font-family: "firacode";
    src: url("../fonts/firacode.ttf");
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font: 40px $font;
    background-color: #0c0032;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg %3E%3Ccircle fill='%23000000' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%23180d1c' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%23261431' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%23351947' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%23451e5e' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%23552277' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track {
    background: #0f0c29;
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
}
::-webkit-scrollbar-thumb {
    background: #c31432;
    background: -webkit-linear-gradient(to right, #240b36, #c31432);
    background: linear-gradient(to right, #240b36, #c31432);
}
::-webkit-scrollbar-thumb:hover {
    background: #dd1133;
    background: -webkit-linear-gradient(to right, #391255, #dd1133);
    background: linear-gradient(to right, #391255, #dd1133);
}

::selection {
    background: #000;
    color: #149414;
}

#loading {
    width: 100%;
    height: 100%;
    background: #000000;
    background: -webkit-linear-gradient(to right, #434343, #000000);
    background: linear-gradient(to right, #434343, #000000);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
    .loader {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        div {
            width: 100px;
            height: 100px;
            border-radius: 100%;
            border: 5px solid transparent;
            border-right-color: #fff;
            border-left-color: #fff;
            animation: loading 2s infinite linear;
            @keyframes loading {
                100%{transform: rotate(360deg);}
            }
        }
    }
    &.loaded {
        transform: translateX(-100%);
        opacity: 0;
    }
}

.container {
    width: 100%;
    margin: 0 auto;
}

.main-menu-container {
    width: 100%;
    background: #6c2cda;
    background: -webkit-linear-gradient(to right, #6c2cda, #1d2671);
    background: linear-gradient(to right, #6c2cda, #1d2671);
    z-index: 1384;
    position: fixed;
    transform: translateY(-100%);
    transition: transform .3s ease-in-out;
    box-shadow: 0 12px 16px 1px rgba(0, 0, 0, 0.14),
                0 4px 22px 3px rgba(0, 0, 0, 0.12),
                0 6px 7px -4px rgba(0, 0, 0, 0.4);
    &.show {
        transform: translateY(0);
    }
}

.main-menu {
    width: 80%;
    font-size: 3rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 10px;
    padding-right: 20px;
    .menu-icon {
        width: 45px;
        height: 45px;
        padding: 7px;
        border-radius: 7px;
        background: #323232;
        display: none;
        flex-direction: column;       
        justify-content: space-around;
        align-items: center;
        overflow: hidden;
        transition: all .4s;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        span {
            width: 100%;
            height: 4px;
            background: #878787;
            border-radius: 3px;
            transition: all .4s;
        }
    }
    a {
        text-decoration: none;
        font-family: $font;
        margin: 5px 25px;
        color: $menu-item-color;
        position: relative;
        transition: transform 0.3s;
        -webkit-tap-highlight-color: transparent;
        &::after {
            content: "";
            width: 100%;
            height: 2px;
            bottom: -5%;
            left: 0;
            background: $menu-item-color;
            position: absolute;
            opacity: 0;
            transition: all .3s;
            transform: scaleX(0.5);
        }
        &:hover::after {
            bottom: 10%;
            opacity: 1;
            transform: scaleX(1);
        }
    }
    .logo {
        width: 4.8rem;
        margin-right: auto;
        margin-left: 10px;
        display: flex;
        align-items: center;
        img {
            width: 100%;
        }
    }
}

#navbar.open {
    .menu-icon {
        position: absolute;
        right: 0;
        top: 0;
        margin: 10px;
        transition: margin 0s;
        span {
            position: absolute;
        }
        span:nth-child(2) {
            transform: translateX(100%) rotate(90deg);
            opacity: 0;
        }
        span:nth-child(1), span:nth-child(3) {
            left: 0;
            right: 0;
            width: 80%;
            margin: 0 auto;
        }
        span:nth-child(1) {
            transform: rotate(45deg);
        }
        span:nth-child(3) {
            transform: rotate(-45deg);
        }
    }
    .main-menu {
        height: auto;
        position: relative;
        flex-direction: column;
        a {
            display: block;
        }
        .logo {
            margin: 10px auto;
        }
    }
}

#about {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    div#aboutCard {
        width: 60%;
        margin: 0 auto;
        background: #11998e;
        background: -webkit-linear-gradient(to right, #38ef7d, #11998e);
        background: linear-gradient(to right, #38ef7d, #11998e);
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
        padding: 30px;
        border-radius: 8px;
        transition: all .4s ease-in-out;
        transform: scale(.4) translateY(400px);
        font-size: 16px;
        &.show {
            transform: scale(1) translateY(0);
        }
        h2 {
            text-align: center;
            font-family: "firacode", Fira Code;
            font-size: 3.5em;
            background: #8E2DE2;
            background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);
            background: linear-gradient(to right, #4A00E0, #8E2DE2);
            background-clip: text;
            -moz-background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            letter-spacing: -4px;
            &::before{content: "<"; color: $section-about-name-design-color; padding: 10px; -webkit-text-fill-color: $section-about-name-design-color;}
            &::after{content: "/>"; color: $section-about-name-design-color; padding: 10px; -webkit-text-fill-color: $section-about-name-design-color;}
            &::selection {
                background: #000;
                color: #149414;
                -webkit-text-fill-color: #149414;
            }
        }
        p {
            font-size: 2em;
        }
        .logo {
            width: 35%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 100%;
            padding: 10px;
            overflow: hidden;
            background: $section-about-logo-bg;
            box-shadow: inset 0 0 20px #000;
            img {
                width: 100%;
            }
        }
    }
}

h1.section-title {
    text-align: center;
    padding: 70px 0 20px 0;
    color: $yellow;
    font-size: 7rem;
    &::before{content: "{ ";}
    &::after{content: " }";}
    &::before, &::after {
        color: red;
    }
}

#skills {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .skills-container {
        padding: 10px;
        font-size: 3rem;
        .skills {
            color: white;
            display: flex;
            flex-wrap: wrap;
            width: 75%;
            justify-content: space-around;
            margin: 0 auto;
            background: #0f0c29;
            background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
            background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
            border-radius: 50px;
            .skill {
                display: flex;
                align-items: center;
                flex-direction: column;
                list-style: none;
                margin: 25px;
                border-radius: 20px;
                padding: .5rem;
                i {
                    background: #8E2DE2;
                    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);
                    background: linear-gradient(to right, #4A00E0, #8E2DE2);
                    padding: 20px;
                    border-radius: 100px;
                    margin: 20px;
                    font-size: 1.5em;
                }
            }
        }
    }
}

#contact {
   font-size: 50px;
   .contact-container {
        width: 75%;
        background: #780206;
        background: -webkit-linear-gradient(to right, #061161, #780206);
        background: linear-gradient(to right, #061161, #780206);
        border-radius: 50px;
        margin: 0 auto;
        padding: 20px;
        display: flex;
        flex-direction: column;
        .info p {
            background: #0f0c29;
            background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
            background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
            border-radius: 100px;
            padding: 10px 20px;
            color: #ffd200;
            margin: 10px;
            b {
                background: #2980B9;
                background: -webkit-linear-gradient(to bottom, #FFFFFF, #6DD5FA, #2980B9);
                background: linear-gradient(to bottom, #FFFFFF, #6DD5FA, #2980B9);
                background-clip: text;
                -webkit-background-clip: text;
                -moz-background-clip: text;
                -webkit-text-fill-color: transparent;
                &::after {content: attr(data-name) ": ";}
            }
        }
        .icons {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
   }
}

#contact .icons a {
    width: 100px;
    height: 100px;
    background: #0f0c29;
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    cursor: pointer;
    box-shadow: inset 0 0 0 #000;
    transition: all .3s;
    &:hover {
        box-shadow: inset 0 0 10px #000;
    }
    img {
        width: 70%;
        height: 70%;
    }
}
.main-footer {
    color: #fff;
    padding: 20px;
    margin-top: 60px;
    background: #0575E6;
    background: -webkit-linear-gradient(to right, #021B79, #0575E6);
    background: linear-gradient(to right, #021B79, #0575E6);
    text-align: center;
}

@media only screen and (max-width: 1340px) {
    #aboutCard {
        font-size: 14px !important;
    }
}
@media only screen and (max-width: 1100px) {
    #aboutCard {
        width: 70% !important;
        min-height: 60vh;
        justify-content: space-around;
        font-size: 12px !important;
    }
    #skills .skill {
        margin: 10px !important;
    }
}
@media only screen and (max-width: 890px) {
    #aboutCard {
        width: 80% !important;
    }
    #contact {
        font-size: 40px !important;
        .contact-container {
            width: 90% !important;
        }
    }
    #skills {
        .skills-container {
            font-size: 2.5rem;
            .skills {
                width: 90% !important;
                .skill {
                    padding: 0;
                    margin: 0;
                }
            }
        }
    }
    h1.section-title {
        font-size: 6rem !important;
    }
    .main-menu {
        width: 90%;
        flex-direction: row-reverse;
        height: 60px;
        align-items: center;
        justify-content: flex-end;
        .menu-icon {
            display: flex;
        }
        a {
            display: none;
        }
        .logo {
            width: 3.4rem;
            margin-right: auto;
            margin-left: 0;
        }
    }
    .main-footer {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 640px) {
    .main-menu {
        font-size: 2.6rem;
    }
    #aboutCard {
        font-size: 10px !important;
    }
    h1.section-title {
        font-size: 5rem !important;
    }
    #skills {
        .skills-container {
            font-size: 2rem;
        }
    }
    #contact {
        font-size: 30px !important;
        .icons a {
            width: 70px !important;
            height: 70px !important;

        }
    }
}
@media only screen and (max-width: 540px) {
    #aboutCard {
        width: 90% !important;
        min-height: 30vh;
    }
    #skills {
        .skills-container {
            font-size: 1.8rem;
        }
    }
    .main-footer {
        font-size: 1.5rem;
    }
}
@media only screen and (max-width: 470px) {
    #aboutCard {
        width: 95% !important;
        h2 {
            font-size: 3em !important;
            letter-spacing: -3px !important;
        }
    }
    #contact {
        font-size: 25px !important;
        .icons a {
            width: 60px !important;
            height: 60px !important;
        }
    }
    h1.section-title {
        font-size: 4rem !important;
    }
}
@media only screen and (max-width: 400px) {
    #aboutCard {
        font-size: 8px !important;
        h2 {
            letter-spacing: -2px !important;
        }
    }
    #contact {
        font-size: 20px !important;
        .icons a {
            width: 50px !important;
            height: 50px !important;
        }
    }
    .main-footer {
        font-size: 1.3rem !important;
    }
    h1.section-title {
        font-size: 3rem !important;
    }
}